<div class="container" id="main-content">
    <h1>Alice's bookstore</h1>
    <app-pic [picUrl]="pirUrl" [altName]="altName"></app-pic>
    <!-- <div class="col-lg-6"><img src="assets/images/b1.png" alt="bookstore"></div> -->
    <app-sidetext [textContent]="textContent" [btnFlag]="btnFlag" [btnText]="btnText"></app-sidetext>
    <app-sidetext [textContent]="textContent2" [btnFlag]="btnFlag2" [btnText]="btnText2"></app-sidetext>

    <!-- <div class="col-md-6">
        <p>dard dummy text ever since the 1500s,when an unknown printer to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesettingdard dummy text ever since the 1500s,when an unknown printer took
            a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
            <br><br><br>
        </p>
        <a class="btn btn-primary" href="#">Expore More</a>
    </div> -->
</div>