<div class="container" id="main-content">
    <div class="row banner">
        <div class="col-12">
            <h1>About US Page</h1>
        </div>
    </div>
    <app-pic [picUrl]="picUrl" [altName]="altName"></app-pic>
    <!-- <div class="col-lg-6"><img src="assets/images/p10.png" alt="bookstore"></div> -->
    <app-sidetext [textContent]="textContent" [btnFlag]="btnFlag" [btnText]="btnText"></app-sidetext>
    <app-sidetext [textContent]="textContent2" [btnFlag]="btnFlag2" [btnText]="btnText2"></app-sidetext>
    <!-- <div class="col-md-6">
        <p>dard dummy text ever since the 1500s,when an unknown printer to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesettingdard dummy text ever since the 1500s,when an unknown printer took
            a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting<br><br><br></p>
    </div>
    <div class="col-md-6">
        <p>dard dummy text ever since the 1500s,when an unknown printer to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesettingdard dummy text ever since the 1500s,when an unknown printer took
            a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting<br><br><br></p>
    </div> -->
    <div class="col-md-6">
        <h3>Contact US <br><br><br>
            <p style="color:blue">Toronto, Ontario <br>(555)-555-5555 <br>loc8r@something.com <br></p>
        </h3>
    </div>
</div>